<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heu.system.mapper.QuestionMapper">
    <resultMap id="questionMap" type="question">
        <collection property="options" ofType="option" column="qid" select="findOptionById"/>
    </resultMap>
    <select id="findAll" resultMap="questionMap">
        select
            *
        from
            tab_question
    </select>
    <select id="findOptionById" parameterType="int" resultType="option">
        select * from tab_option where qid = #{qid}
    </select>

</mapper>